{% extends 'base.html.twig' %}

{% block body %}


<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0 animated rollIn">Les commissions</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left animated fadeInUp">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_attacktitan.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_reptideru554.jpg" alt="">
          </a>
    </div>


    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_chibi_ying_2_commy.png" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_venushope.png" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_shirayuki_deep_sea_girl.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_valentine.drawz_fond_gris.png" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission-Ying.png" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission-phylia.png" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_blue.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/Commission-Mik.png" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_aile.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_happy.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_magic.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_sanaechu.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/commission_nyanahime.jpg" alt="">
          </a>
    </div>

  </div>

</div>


<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0 animated rollIn">Les fanarts</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left animated fadeInUp">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/fanart_magical_mirai_v2.png" alt="">
          </a>
    </div>


    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/fanart_soeur.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/fanart_Shiorizu.png" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/fanart_kiri.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/fanart_pink.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/fanart_aliceoyo.jpg" alt="">
          </a>
    </div>
    
  </div>

</div>


<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0 animated rollIn">Les originaux</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left animated fadeInUp">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/original_utsu-yuki.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/orignal_lita_new_design_blanc.png" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/original_utsu.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/original_litapurple.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/original_litacat.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/original_youandme.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/original_lita.jpg" alt="">
          </a>
    </div>

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="img/original_you.jpg" alt="">
          </a>
    </div>


</div>    

{% endblock %}

